*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	
	
}

h1, h2, h3, h4, h5, h6, p, a{
	color: #4c5053;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Source Sans Pro', sans-serif !important;	
}

p, a{
	font-family: 'Roboto', sans-serif !important;	
}

header{
	margin-bottom: 10px;
}

main{
	margin-top: 40px;
}

.row{
	margin: 0;
	padding: 0;
}

.container{
	margin: 0;
	padding: 0;
	max-width: 100%;
}

.text-gold{
	color: #b89a54;
}

.navbar{
	
}

.nav-pills>li>a:hover {
	background-color: #14294E;
	color: #FFF;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	background-color: #14294E;
}

.small-company-logo-container{
	width: 80px;
	height: 80px;
}

.small-company-logo{
	width: 100%;
	height: 100%;
}

footer{
	background: url(../images/footer-texture.gif) repeat;	
	height: 200px;
	/*margin-top: 100px;*/
}

footer>div{
	height: 100%;
}
#footer-company-logo{
	position: relative;	
	top: 50%;
	transform: translateY(-50%);	
}

#copyright{
	display: block;
	position: relative;	
	top: 50%;
	transform: translateY(-50%);
} 

.custom-btn{
	background: linear-gradient(to bottom, #edb113 55%,#ce9602 100%);
}
.custom-btn:hover{
	background: #ce9602;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ce9602), color-stop(100%,#ac7d01)); /* Chrome,Safari4+ */
}
/* Landing page */
.lp-container *{
	z-index: 50;
}	

.lp-container::after {
	content: "";
	background: linear-gradient(to bottom, rgba(7, 13, 28, 0.65) 0%, rgba(5, 10, 22, 0.65) 22%, rgba(0, 0, 0, 0) 100%), url(../images/lp-bg.jpeg);

	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	position: absolute;

	opacity: 0.3;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
}

.lp-banner{
	background-color: #14294E;
}

.lp-banner-text{
	color: #FFF;
}

#lp-banner-tough{
	color: #FB3F3F;
}

#lp-banner-fresh{
	color: #00FF18;
}

#banner{
	padding-top: 40px;
	padding-bottom: 40px;
	padding-right: 20px;
	padding-left: 20px;	
}

#lp-btn-learn{
	background-color: rgb(3,23,126);
	border-radius: 100%;
	padding: 40px;
	border: 5px solid #FFF;
	color: #fff;
}	

#lp-btn-learn:hover{
	background-color: #fff;
	border: 10px solid rgb(3,23,126);
	color: rgb(3,23,126);	
}

#lp-btn-learn:hover>h1{
	color: rgb(3,23,126);	
}


#company-logo{
	height: 80%;
	width: 80%;
	margin: 10% auto;

}

/* HOME */
.carousel-item{
	height: 600px;
	background-color: #7A7878;
}

.carousel-item>.d-block{
	height: 100%;
	width: 100%;
	opacity: 0.3;
	transition: all 8s;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
	width: 50px;
	height: 50px;
}

.carousel-caption>*{
	color: #14294E;
}

.carousel-caption{
	top: 50%;
	transform: translateY(-50%);
}

.carousel-caption>h1{
	font-size: 4rem;
}

.carousel-caption>h3{
	font-size: 2.5rem;
}

.carousel-inner:hover >.carousel-item > .d-block,
.carousel-inner:focus >.carousel-item > .d-block {
  transform: scale(1.1);
}

#customer-satisfaction{
	opacity: .8;
}

.home-carousel{
	margin-bottom: 70px;
}

.home-features{
	margin-bottom: 100px;
}

.feature-icon{
	font-size: 3rem;
	border: 1px solid black;
	border-radius: 100%;
	padding: 20px;
	color: black;
	background-color: transparent;
}


#feature-1{
	color: green;
	border-color: green;
}

#feature-2{
	color: #1e73be;
	border-color: #1e73be;
}

#feature-3{
	color: #dd2121;
	border-color: #dd2121;
}


.feature-icon:hover{
	background-color: #4B494C;
	border: 1px solid black;
}

.feature-header{
	height: 80px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* ABOUT PAGE*/
.about-main{
	background-color: #777777;
}

.about-title > div > div > h1, .mission-vision > div > div > h1{
	margin-bottom: 15px;
}

.about-title > div > div > p, .mission-vision > div > div > p{
	font-size: 1.2em;
}


/* Contact*/
.contact-input{
	margin-bottom: 100px;
}

/* Gallery */
.gallery-photos{
	margin-top: 50px;
	margin-bottom: 100px;
}

.photos-thumbnails{

}
.thumbnail-images > div > button> img{
	width: 100%;
	height: 150px;
}

.thumbnail-images > div > button{
	background-color: transparent;
}

.modal-img{
	width: 100%;
	height: 100%;
}

/* Mobile Styles*/
@media only screen and (max-width: 767px){
	.row-spacer{
		height: 0px;
	}

	.small-company-logo-container{
		margin: 0 auto;
	}

	.small-company-logo-container{
		height: 50px;
		margin-bottom: 10px;
	}

	.nav-link{
		padding-left: 8px;
		padding-right: 8px;
	}
	.carousel-item{
		height: 400px;
	}

	.carousel-caption>h1{
		font-size: 2.5rem;
	}

	.carousel-caption>h3{
		font-size: 1rem;
	}	

	.feature-header{
		height: 30px;
	}

	#copyright{
		font-size: .5rem;
		text-align: left !important;
	}

	.about-title > div > div > p, .mission-vision > div > div > p{
		font-size: 1em;
	}
}

/*Tablet Styles*/
@media only screen and (min-width: 768px) and (max-width: 991px){
	.row-spacer{
		height: 0px;
	}

	.small-company-logo-container{
		margin: 0 auto;
	}

	.small-company-logo-container{
		height: 50px;
		margin-bottom: 10px;
	}
	
	.nav-link{
		padding-left: 8px;
		padding-right: 8px;
	}
	.carousel-item{
		height: 400px;
	}

	.carousel-caption>h1{
		font-size: 2.5rem;
	}

	.carousel-caption>h3{
		font-size: 1rem;
	}	

	.feature-header{
		height: 30px;
	}

	#copyright{
		font-size: .5rem;
		text-align: left !important;
	}

	.about-title > div > div > p, .mission-vision > div > div > p{
		font-size: 1em;
	}

}

/*Desktop Styles*/
@media only screen and (min-width: 992px){
	.row-spacer{
		height: 125px;
	}

}