*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	
	
}

h1, h2, h3, h4, h5, h6, p{
	font-family: 'Maven Pro', sans-serif !important; 
}
.container{
	margin: 0;
	padding: 0;
	max-width: 100%;
	max-height: 100%;
}

/*.row{
	width: 100%;
}*/
.row-spacer{
	height: 100px;
}

.btn{
	background-color: #FEFE33;
}	

.footer{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 0;
	padding-left: 0;
}

.fas{
	font-size: x-large;
	padding-left: 20px;
}

.social-links{
	max-height: 60px;
	min-height: 60px;
	
}


.fas{
	font-size: large;
}

.social-links, #copyright{
	padding-left: 10px;
}

/* Mobile Styles*/
@media only screen and (max-width: 767px){
	.row-spacer{
		height: 10px;
	}

	#company-logo-container{
		max-height: 200px;
		margin-top: 10px;
	}

	#company-logo{
		height: 100%;
		width: 70%;

	}
}

/*Tablet Styles*/
@media only screen and (min-width: 768px){
	.row-spacer{
		height: 20px;
	}

	#company-logo-container{
		max-height: 300px;
		margin-top: 20px;
	}

	#company-logo{
		height: 100%;
		width: 70%;

	}

}

/*Desktop Styles*/
@media only screen and (min-width: 992px){
	.row-spacer{
		height: 125px;
	}

	#company-logo-container{
		max-height: 300px;
		margin-top: 20px;
	}

	#company-logo{
		height: 100%;
		width: 70%;

	}

}